{% extends 'base.html' %}

{% block  title %} Buscar tractor {% endblock %}

{% block content %}
<h5>Buscar Tractores por Marca</h5>
 
<form method="GET" action="{% url 'buscar_tractor' %}">
    <input type="text" name="busquedatmarca" value="{{ query }}" placeholder="Buscar marca" required>
    <button type="submit">Buscar</button>
</form>

<h6>Resultados de la búsqueda...</h6>
{% if tractores %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
            <th scope="col">Patente Tractor</th>
            <th scope="col">Marca </th>
            <th scope="col">Año</th>
    
            </tr>
        </thead>
        <tbody>

        {% for tractor in tractores %}
            <tr>
            <td>{{ tractor.patente }}</td>
            <td>{{ tractor.marca }}</td>
            <td>{{ tractor.ano }}</td>
            </tr>
        {% endfor %} 

        </tbody>

    </table>
{% else %}
    <p>No se encontraron tractores de esa marca</p>
{% endif %}
  
 

{% endblock %}